// Svelte Colors, https://github.com/hperrin/svelte-material-ui/tree/master/packages/site/src/theme/
@use 'sass:color';
@use '@material/theme/color-palette';

$background: rgba(202, 199, 199, 0.74);
@use '@material/theme/index' as theme with (
	$primary: rgb(59, 72, 108),
	$secondary: rgb(236, 236, 236),
	$surface: #fff,
	$background: $background,
	$error: color-palette.$red-900
);

@use './app';

html,
body {
	background-color: $background;
	color: if(theme.contrast-tone($background) == 'dark', #000, rgba(202, 199, 199, 0.74));
}

header {
	color: if(theme.contrast-tone($background) == 'dark', #000, rgba(202, 199, 199, 0.74));
}

* :global(.shaped-outlined .mdc-notched-outline .mdc-notched-outline__leading) {
	border-radius: 28px 0 0 28px;
	width: 28px;
}
* :global(.shaped-outlined .mdc-notched-outline .mdc-notched-outline__trailing) {
	border-radius: 0 28px 28px 0;
}
* :global(.shaped-outlined .mdc-notched-outline .mdc-notched-outline__notch) {
	max-width: calc(100% - 28px * 2);
}
*
	:global(
		.shaped-outlined.mdc-text-field--with-leading-icon:not(.mdc-text-field--label-floating)
			.mdc-floating-label
	) {
	left: 16px;
}
* :global(.shaped-outlined + .mdc-text-field-helper-line) {
	padding-left: 32px;
	padding-right: 28px;
}

:root {
	--mdc-text-field-outline-width: 1px;
	--mdc-text-field-hover-outline-width: 1px;
	--mdc-text-field-focus-outline-width: 1px;
	--mdc-text-field-disabled-outline-width: 1px;
	/* Ajoutez d'autres variables personnalisées ici si nécessaire */
}
